page-therapist-manager {
  body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }
  .item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 15px;
    height:100%;
  }

}
